/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #444;
}

p {
    color: #666;
}


    #banner do topo {
    width: 100%; /* A largura é definida como 100% da largura da janela do navegador */
    height: 30%; /* A altura é definida como 60px */
        
}

    


#banner-meio {
    background-color: #fff;
    color: #333;
    padding: 50px 20px; /* Aumenta o padding vertical para 50px */
    display: flex; /* Usa flexbox para centralizar o conteúdo */
    flex-direction: column; /* Alinha os itens em uma coluna */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
}


#proverbio {
    color: blue;
    font-size: 32px; /* Tamanho maior para o texto do provérbio */
}

#fonte {
    font-size: 16px; /* Tamanho do texto para a fonte */
}

/* Estilos para o rodapé */
#rodape {
    background-color: #d3d3d3; /* Cinza claro */
    color: #000; /* Preto */
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos para telas pequenas (menos de 600px) */
@media only screen and (max-width: 600px) {
    body {
        font-size: 18px;
    }
}

/* Estilos para telas médias (601px a 992px) */
@media only screen and (min-width: 601px) and (max-width: 992px) {
    body {
        font-size: 20px;
    }
}

/* Estilos para telas grandes (maior que 992px) */
@media only screen and (min-width: 993px) {
    body {
        font-size: 22px;
    }
}
