body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; /* Cor de fundo branco gelo */
}

.container {
    max-width: 800px; /* Largura máxima do conteúdo */
    margin: 50px auto; /* Centralizar na página */
    padding: 20px;
    background-color: #fff; /* Cor de fundo branca para o conteúdo */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.banner-topo {
    background-color: #f2f2f2; /* Cor de fundo cinza claro para o banner de topo */
    padding: 10px 0; /* Espaçamento interno do banner de topo */
    margin-bottom: 20px; /* Espaçamento abaixo do banner de topo */
}

.banner-lateral {
    background-color: #f2f2f2; /* Cor de fundo cinza claro para o banner lateral */
    padding: 10px 0; /* Espaçamento interno do banner lateral */
    margin-left: auto; /* Margem esquerda automática para alinhar à direita */
    margin-right: 0; /* Margem direita 0 para alinhar à direita */
}

footer {
    text-align: center;
    background-color: #f2f2f2; /* Cor de fundo cinza claro para o rodapé */
    padding: 20px;
    margin-top: 20px;
    color: #666; /* Cor do texto cinza para o rodapé */
}

footer p {
    margin: 0;
    font-size: 14px;
}
